<div mat-dialog-content style="text-align: center;">
  <h2 style="font-weight: bold">User information</h2>
  <p>Change fields that You want</p>

  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput [(ngModel)]="data.firstName">
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput [(ngModel)]="data.lastName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Possition</mat-label>
    <mat-select (selectionChange)="onChangePossition($event)" [(ngModel)]="data.possition">
      <mat-option *ngFor="let userPossition of UserPossition" [value]="userPossition.toLowerCase()">{{userPossition}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select (selectionChange)="onChangeGender($event)" [(ngModel)]="data.gender">
      <mat-option *ngFor="let userGender of UserGender" [value]="userGender.toLowerCase()">{{userGender}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Date of Birth</mat-label>
    <input matInput [(ngModel)]="data.dateOfBirth">
  </mat-form-field><br>
</div>

<div mat-dialog-actions>
  <button mat-button style="outline:none" (click)="onCancelClick()">Cancel</button>
  <button mat-button style="outline:none" class="btn btn-success" (click)="onOkClick(data)" cdkFocusInitial>Ok</button>
</div>