<mat-toolbar color="primary" class="app-header">
  <div *ngIf=!isUserLoggedIn>
    <a routerLink="users-api/login" class="positronx">{{title}}</a>
  </div>
  <div *ngIf=isUserLoggedIn>
    <a routerLink="users-api/list" class="positronx">{{title}}</a>
  </div>
  <span class="nav-tool-items" *ngIf=!isUserLoggedIn>
    <a mat-button routerLink="users-api/login" routerLinkActive="active">Login</a>
    <a mat-button routerLink="users-api/register" routerLinkActive="active">Register</a>
  </span>

  <span class="nav-tool-items" *ngIf=isUserLoggedIn>
    <a mat-button routerLink="users-api/logout" routerLinkActive="active">Logout</a>
  </span>
</mat-toolbar><br><br><br><br><br><br>

<router-outlet></router-outlet>