<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="submitForm()" class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="First name" formControlName="firstName">
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last name" formControlName="lastName">
        </mat-form-field><br>

        <!-- <mat-form-field class="example-full-width">
          <input matInput placeholder="Gender" formControlName="gender">
        </mat-form-field><br> -->

        <mat-form-field class="example-full-width">
          <mat-label>Gender</mat-label>
          <mat-select (selectionChange)="onChangeGender($event)">
            <mat-option *ngFor="let userGender of UserGender" [value]="userGender">{{userGender}}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
        
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Date of Birth" formControlName="dateOfBirth">
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
          <ngx-mat-file-input formControlName="image">
          </ngx-mat-file-input>
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
          <mat-label>Possition</mat-label>
          <mat-select (selectionChange)="onChangePossition($event)">
            <mat-option *ngFor="let userPossition of UserPossition" [value]="userPossition">{{userPossition}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Register</button>

    </form>
  </mat-card>
</div>